# Aplicación
PORT=3000
NODE_ENV=development

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNCHRONIZE=true
DB_LOGGING=true

# Semillas al iniciar la API (true | false)
SEED_ROLES_ON_BOOT=true
SEED_ADMIN_ON_BOOT=true

# Usuario ADMIN por defecto (solo se crea si no existe ningún usuario con rol ADMIN)
SEED_ADMIN_NOMBRE=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_TELEFONO=

# JWT
JWT_SECRET=sehab-dev-secret-change-in-production
JWT_EXPIRES_IN=8h

# Cloudinary (Bloque I - integración futura)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
